@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body {
  background-image: url('Assets/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  font-family: 'DM Sans', sans-serif;
  color: white;
}

.logo{
	height: 50px;
	width: 50px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	draggable: false;
	position: fixed;
	cursor: pointer;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  margin-left: 60px;
  padding: 0;
  overflow: hidden;
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 4px );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 50px;
  /*position: fixed;*/
  /*width: 100%;*/
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {background: rgba( 255, 255, 255, 0.50 );}

/*ul.topnav li a.active {background: rgba( 255, 255, 255, 0.65 );}*/

/*ul.topnav li.right {float: right;}*/

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.logo-main {
	margin-top: 20px;
	width: 250px;
	height: 250px;
}

.main-text {
	text-align: center;
	font-size: 50px;
}

.divider {
	background-color: white;
	height: 5px;
	width: 50px;
	margin: auto;
	border-radius: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.btn {
	color: white;
	background-color: #003df5;
	border-radius: 50px;
	border: 1px solid #003df5;
	padding: 15px;
	font-size: 25px;
	font-family: 'DM Sans', sans-serif;
}

.btn:hover {
	color: #003df5;
	background-color: white;
	cursor: pointer;
	/*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  color: white;
  background: #003df5;
}

.ytlogo {
	height: 200px;
}
.ytbtn {
	transition: all 0.3s ease-out;
	font-size: 20px;
	color: white;
	font-family: 'DM Sans', sans-serif;
	margin: 20px;
	padding: 20px;
    backdrop-filter: blur(25px) saturate(100%);
    -webkit-backdrop-filter: blur(25px) saturate(100%);
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(255, 255, 255, 0.125);
}
.ytbtn:hover {
	transform: translateY(-0.25em);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.tbtn {
	transition: all 0.3s ease-out;
	font-size: 20px;
	color: white;
	font-family: 'DM Sans', sans-serif;
	margin: 20px;
	padding: 20px;
    backdrop-filter: blur(25px) saturate(100%);
    -webkit-backdrop-filter: blur(25px) saturate(100%);
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(255, 255, 255, 0.125);
}
.tbtn:hover {
	transform: translateY(-0.25em);
	cursor: pointer;
}

.teamav {
	height: 200px;
	width: 200px;
}

.teamrole {
    padding: 18.025px;
    background: rgba( 0, 0, 0, 0 );
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 37%);
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 7px );
}

.teamt {
	text-shadow: 0px 0px 20px;
}

.space {
	height: 100px;
}